@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* sponsars start */
.sponsars-heading {

  padding: 2rem 5rem;
 
}

.sponsars-heading h1 {
  text-transform: capitalize;

}

.sponsers {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row1 {
  display: flex;
  justify-content: center;
}

.col {
  padding: 2rem 5rem;
}

.col img {
  width: 100%;
}
/* sponsars end */

/* community start */
.community-heading {
  
  padding: 2rem 5rem;
}

.community-heading h1 {
  text-transform: capitalize;
  text-align: left;

}

.community {
  display: block;
  padding: 3rem;
  width: 100%;
}

.row-community {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  padding: 2rem 5rem;
}

.col-community {
  width: 30%;

  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  padding: 1rem;
}

.col-community h4 {
  font-size: 1rem;
}

.col-community p {
  font-size: 0.75rem;
}

.col-community img {
  width: 70%;
}

.cork img{
width: 50%;
  padding: 1rem 2rem;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-col{
  display: flex;
  justify-content: center;
}

/* community end */

/* meetup start */
.meet-container {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.heading {

  padding: 2rem 5rem;
}

.heading h1 {

  text-transform: capitalize;
}

.content {
  display: flex;
  justify-content: space-between;
}

.map {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #4285f4;
  color: white;
}

.location {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.location h2 {
  font-size: 1.85rem;
  font-weight: bold;
}

.location p {
  width: 80%;
  font-size: 1.25rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
.sponsars-heading , .community-heading, .heading{
  padding: 0rem;
}

.sponsars-heading h1 , .community-heading h1, .heading h1{
  padding: 0rem;
  font-size: 1.35rem;
}

  .row1 {
    display: block;
  }

  .col {
    width: 100%;
  }

  .row-community {
    display: block;
    padding: 0rem;
    margin-bottom: 0rem;
  }

  .col-community {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .heading {
    width: 65%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .map {
    width: 100%;
  }

  .location {
    padding: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .location p {
    width: 100%;
  }
}
/* meetup end */






